/* MODELO CSS BEM
B - bloco
E - elemento
M - modificador  */

/* BODY */
body {
  font-family: 'Roboto', sans-serif;
}

::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

header {
  margin-top: 10px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

/* CABEÇALHO */
.cabecalho {
  flex-basis: 25%;
}
.cabecalho__logo {
  margin-bottom: 20px;
  padding-left: 18px;
}
.cabecalho__logo img:hover {
  background-color: rgb(162, 225, 250);
  cursor: pointer;
  border-radius: 50%;
}
.cabecalho__logo figcaption {
  display: none;
}

.cabecalho__menuNavegacao {
}

.cabecalho__menuItem {
  padding: 18px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.cabecalho__menuItem:hover {
  cursor: pointer;
  background-color: #dad7d7a9;
  border-radius: 30px 30px / 50% 50%;
}
.cabecalho__menuItem img {
  max-width: 26px;
  margin-right: 15px;
}
.cabecalho__menuItem a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  vertical-align: top;
}

/* CONTEUDO PRINCIPAL */
.conteudoPrincipal {
  flex-basis: 70%;
  border-left: 1px solid #e7ecf0;
  border-right: 1px solid #e7ecf0;
  padding-top: 15px;
}
.conteudoPrincipal__Titulo {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.conteudoPrincipal__Formulario {
  padding: 10px;
  border-top: 1px solid #e7ecf0;
  border-bottom: 10px solid #e7ecf0;
  text-align: right;
}
.conteudoPrincipal__Formulario__container {
  display: flex;
}
.conteudoPrincipal__Formulario__text {
  width: 100%;
  margin-left: 10px;
}
.conteudoPrincipal__Formulario textarea {
  display: block;
  width: 100%;
  border: none;
  /* Borda que aparece em volta do campo */
  outline: none;
  /* Usuário não tem liberdade de mexer no tam do campo */
  resize: none;
  height: 55px;
  margin-top: 12px;
}
.conteudoPrincipal__Formulario button {
  background-color: #1da1f2;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 20px;
  font-size: 15px;
}
.conteudoPrincipal__Formulario__Imagem {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.conteudoPrincipal__Formulario__Imagem:hover {
  opacity: 0.8;
  cursor: pointer;
}

.conteudoPrincipal__feed {
}
.conteudoPrincipal__listaTweets {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.conteudoPrincipal__tweet {
  padding: 20px 32px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #e7ecf0;
}

.tweet__fotoPerfil {
  max-width: 30px;
  border-radius: 50%;
}
.tweet__conteudo {
  margin-left: 15px;
}
.tweet__conteudo h2 {
  display: inline-block;
  font-weight: bold;
}
.textoNomeDoUsuario {
  display: inline-block;
  color: #828282;
  margin-left: 3px;
}
.tweet__conteudo p {
  margin-top: 15px;
  color: #333333;
}
.textoDeHashtag {
  color: #1da1f2;
}
.textoDeHashtag:hover {
  cursor: pointer;
}
